* {
  font-family: Arial;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}

.container {}

.header-portfolio {
  background-color: black;
  height: 350px;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
}

.nav-items {
  display: flex;
  justify-content: space-between;

  & li {
    margin-right: 20px;
    list-style-type: none;
  }
  & a {
    text-decoration: none;
  }
}